* {
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Example 1 */
/* .btn {
 font-size: 2rem;
 background: lightgray;
 text-transform: uppercase;
} */

/* body {
 background-color: blue;
} */










